@font-face {
    font-family: 'Publico Banner Web Light Regular';
    src: url('../fonts/Publico_Banner_Web_Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Publico Banner Web Medium Regular';
    src: url('../fonts/Publico_Banner_Web_Medium.ttf') format('truetype');
}