:root{
    --BE:#F3F1EF;

    --GS01:#FFF;
    --GS02:#EEE;
    --GS03:#DDD;
    --GS04:#CCC;
    --GS05:#999;
    --GS06:#606060;
    --GS07:#555;
    --GS08:#404040;
    --GS09:#323232;
    --GS10:#111;
    --GS11:#000;

    --RS01:#FF3940;
    --RS02:#CC2E33;
    --RS03:#B3282D;
    --RS04:#992226;
    --RS05:#611618;
    --RS06:#541315;
    --RS07:#400E10;
    --RS08:#330B0D;
    --RS09:#120405;

    --BS01:#36C8FF;
    --BS02:#2BA0CC;
    --BS03:#207899;
    --BS04:#144C61;
    --BS05:#114254;
    --BS06:#0E3746;
    --BS07:#0A2833;
    --BS08:#030E12;

    --BLS01:#D5F3FF;
    --BLS02:#AAC2CC;
    --BLS03:#809299;
    --BLS04:#515C61;
    --BLS05:#465054;
    --BLS06:#353D40;
    --BLS07:#2A3133;
    --BLS08:#23282A;

    --sp10:10px;
    --sp15:15px;
    --sp20:20px;
    --sp25:25px;
    --sp30:30px;
    --sp35:35px;
    --sp40:40px;
    --sp45:45px;
    --sp50:50px;
    --sp55:55px;
    --sp60:60px;
    --sp70:70px;
    --sp80:80px;
    --sp90:90px;
    --sp100:100px;
    --sp120:120px;
    --sp125:125px;
    --sp130:130px;
    --sp135:135px;
    --sp140:140px;
    --sp150:150px;
    --sp155:155px;
    --sp180:180px;
    --sp195:195px;
    --sp200:200px;
    --sp235:235px;
}

[class^='ut']{font-family: 'utile';}
[class^='pwbL']{font-family: "Publico Banner Web Light Regular";}
[class^='pwbM']{font-family: "Publico Banner Web Medium Regular";}
[class*='Lt']{font-weight: 300;}
[class*='Rr']{font-weight: 400;}
[class*='Mm']{font-weight: 500;}
[class*='Sb']{font-weight: 600;}
[class*='Bd']{font-weight: 700;}
[class*='Bk']{font-weight: 800;}
.utMm10{font-size: 10px;}
.utLt14,.utRr14,.utMm14,.utBd14{font-size: 14px;}

[class*='gs01']{color: var(--GS01);}
[class*='gs04']{color: var(--GS04);}
[class*='gs05']{color: var(--GS05);}
[class*='gs06']{color: var(--GS06);}
[class*='gs07']{color: var(--GS07);}
[class*='gs08']{color: var(--GS08);}
[class*='gs09']{color: var(--GS09);}
[class*='gs10']{color: var(--GS10);}
[class*='gs11']{color: var(--GS11);}
[class*='bs03']{color: var(--BS03);}
[class*='bs04']{color: var(--BS04);}
[class*='bs05']{color: var(--BS05);}
[class*='bls03']{color: var(--BLS03);}
[class*='bls04']{color: var(--BLS04);}
[class*='bls06']{color: var(--BLS06);}
[class*='bls08']{color: var(--BLS08);}
[class*='rs03']{color: var(--RS03);}
[class*='bGs01'], [id$='Popups'], [id$='Popup'], [id$='Panel']{background-color: var(--GS01);}
[class*='bBe']{background-color: var(--BE);}
[class*='bBs03']{background-color: var(--BS03);}
[class*='bBs04']{background-color: var(--BS04);}
[class*='bRs03']{background-color: var(--RS03);}
[class*='bgT']{background-color: transparent;}

[class*='dyB']{display: block;}
[class*='dyIB']{display: inline-block;}
[class*='dyF']{display: flex;}
[class*='dyN']{display: none;}
[class*='dyBFull']{display: block; width: 100%;}
[class*='wFull']{width: 100%;}
[class*='poR']{position: relative;}
[class*='poA']{position: absolute;}
[class*='flL']{float: left;}
[class*='flR']{float: right;}
[class*='poSB']::before, [class*='poSA']::after{content: ''; display: block; position: absolute;}
[class*='mgn0A']{margin: 0 auto;}
[class*='bdX']{box-sizing: border-box;}
[class*='txBg']{text-indent: -9999px; background-color: transparent;}
[class*='txtC'], a:not(nav a, .reView a, .backLog, .sideNav a, [class*='bor'], .delivery a.txtL, .mCollection a){text-align: center;}
[class*='txtL']{text-align: left;}
[class*='txtR']{text-align: right;}

a{color: inherit;}

[class*='circleBtn']:not(circleBtnC)::before,
[class*='circleBtn']:not(circleBtnC)::after,
.circleBtnC::before, .circleBtnC::after,
.circleBtnC:hover::after,
.checkZone::before,
.borLearnBtnA::after, .borLearnBtnB::after{content: ''; display: block;}

div:has(#introPop).active{display: none;}
div:has(#introPop){
    position: fixed; background-color: rgba(0, 0, 0, 0.5);
    left: 0; top: 0; width: 100%; height: 100%; z-index: 1001;
}
div #introPop.active{display: block;}
div #introPop{
    width: 95%; max-width: 730px; height: 380px; text-align: center;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 1001; padding: 65px 5% 5%; box-sizing: border-box;
    line-height: 36px; border-radius: 10px; box-shadow: 0 0 15px var(--GS08);
    background: url("../images/bg_intropopup.png") right center / cover no-repeat;
    background-color: #fff; display: none;
}
div #introPop .closeBtn{ 
    background-image: url('../images/bul_cart_close.png'); background-repeat: no-repeat;
    text-indent: -9999px; background-color: transparent;
    position: absolute; display: block; width: 25px; height: 25px; top: 10%; right: 3%;
}
div #introPop b{font-size: 48px; color: var(--RS03); display: block; margin-bottom: 10%;}
div #introPop p{font-size: 16px; color: var(--BLS07); margin-bottom: 7%;}
div #introPop a{color: var(--BLS06);}

.mBtn{
    display: block; position: relative; width: 200px; padding: 27px 0; box-sizing: border-box;
    background-color: rgba(14, 55, 70, 0.5); color: var(--GS01);
}
.mBtn > span{
    display: block; position: absolute; top: -15px; right: -15px;
    background-color: transparent; z-index: 1; width: 200px; line-height: 50px;
    border: 2px solid var(--BS06); box-sizing: border-box; transition-duration: 0.4s;
}
.mBtn:hover{background-color: var(--BS06); transition-delay: 0.2s; transition-duration: 0.4s;}

.mBtn:hover > span{transform: translateX(-15px) translateY(15px);}

[class*='leafBtn']:not(.leafBtnBor):hover,
.okBtn:hover{background-color: var(--RS03); transition-duration: 0.5s;}

[class*='leafBtn']{
    display: block; width: 100%; border-radius: 30px 0 30px 0;
    color: var(--GS01); background-color: var(--BS04);
}
.leafBtnB{border: none;}
.okBtn{
    width: 130px; color: var(--GS01); background-color: var(--BS04);
    line-height: 50px; border-radius: 35px;
}
.circleBtnA::before{top: 16px;}
[class*='circleBtn']:not(circleBtnC)::before{
    width: 30px; height: 15px; background: url('../images/bul_arrow_why.png') right center / 90% no-repeat;
    position: absolute; right: 2%; transition-duration: 0.4s;
}
.circleBtnA{
    display: block; position: relative; width: 200px; color: var(--GS08);
    padding: 16px 0 0; box-sizing: border-box;
}
.circleBtnB{
    width: 65%; max-width: 200px; height: 50px; 
    position: relative; color: var(--GS08); background-color: transparent;
}
.circleBtnA::after, .circleBtnB::after{
    width: 50px; height: 50px; z-index: -1; left: 20px; top: 0px; transition-duration: 0.4s;
    background-color: var(--BLS02); border-radius: 30px; position: absolute;
}
[class*='circleBtn']:not(.circleBtnC):hover::before{
    background-image: url('../images/bul_cart_arrow_wh.png'); transform: rotate(180deg);
}
[class*='circleBtn']:not(.circleBtnC):hover{color: var(--GS01);}
[class*='circleBtn']:not(.circleBtnC):hover::after{
    width: 100%; max-width: 185px; height: 50px; background-color: var(--BS04);
}
.circleBtnC::before{
    width: 30px; height: 15px; position: absolute; right: 0; top: 18px; 
    background: url('../images/bul_arrow_why.png') right center / 100% no-repeat;
    transition-duration: 0.4s;
}
.circleBtnC{
    display: block; position: relative; width: 100%; max-width: 240px; line-height: 50px; color: var(--GS08);
}
.circleBtnC::after{
    width: 50px; height: 50px; position: absolute; z-index: -1; left: 25px; top: 1px;
    background-color: var(--BE); border-radius: 30px; transition-duration: 0.4s;
}
.circleBtnC:hover::after{width: 100%; max-width: 240px; height: 50px; background-color: var(--BE);}

:is(.borLearnBtnA, .borLearnBtnB):hover::before{transform: scaleX(1);}

.borLearnBtnA::before, .borLearnBtnB::before{
    content: ''; position: absolute; left: 0px; bottom: -2px; z-index: 1;
    width: 100%; height: 2px; background-color: var(--RS03);
    transform: scaleX(0); transform-origin: left; transition: transform 0.3s ease;
}
.borLearnBtnA, .borLearnBtnB{
    display: block; width: 100%; padding: 0 0 var(--sp10); position: relative;
    border-bottom: 2px solid var(--BS04); text-align: left; color: var(--GS08);
}
.borLearnBtnA::after, .borLearnBtnB::after{
    width: 30px; height: 10px; position: absolute; right: 0;
    background: url('../images/bul_arrow_why.png') right / 100% no-repeat;
}
.borLearnBtnA::after{top: 7px;}
.borLearnBtnB::after{top: 3px;}

.detailContainer .addToWish{
    background-image: url('../images/ico_heart_bk.png');
    background-repeat: no-repeat; background-position: center; background-size: 100%;
}
.listContainer .addToWish{background-image: url('../images/ico_heart_wh.png');}
.addToWish.on{background-image: url('../images/ico_heart_full_d.png');}

[id$='Popups'], [id$='Popup']{display: none; position: absolute; text-align: center;}

[id$='Popups'].active, [id$='Popup'].active,
#completePopup.active{display: block;}

[id$='Popup']:not(#deletePopup), [id$='Popups']{
    left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 11; border: 2px solid var(--GS02);
}
[id$='Popups'] span,
[id$='Popup'] span{
    display: block; width: 100%; line-height: 40px;
    color: var(--BLS05); margin-bottom: var(--sp60);
}
[id$='Popups'] > div,
[id$='Popup'] > div{position: relative; box-sizing: border-box;}

[id$='Popups'] input[type='button']:first-of-type,
[id$='Popup'] input[type='button']:first-of-type{
    position: absolute; background-image: url('../images/bul_cart_close.png');
    background-color: transparent; text-indent: -9999px;
}
#completePopup b{display: block; line-height: 25px; margin-bottom: 15%;}

.checkZone::before{
    float: left; min-width: 20px; max-width: 20px; height: 20px; 
    border: 1px solid var(--GS04); border-radius: 5px; margin-right: var(--sp20);
    background-color: var(--GS01);
}
.checkZone::after{content: ''; display: block; clear: both;}

.checkZone{clear: right; cursor: pointer;}

input[type="checkbox"],
#filtersPanel input[type="radio"]{display: none;}

input[type="checkbox"]:checked + .checkZone::before{
    background: url('../images/bul_check_wh.png') center / 115% no-repeat;
    background-color: var(--BS03); border: 1px solid var(--BS04);
}
#filtersPanel ul.colorSelect > li > ol > li{
    width: 50%; position: relative; margin-bottom: var(--sp15);
    padding-left: 40px; box-sizing: border-box;
}
#filtersPanel input[type="radio"]:checked + label[for*="Color"]::before{
    border: 1px solid var(--GS04); border-radius: 20px;
}
@media screen and (max-width: 767px){
    :root{
        --sp30:20px;
        --sp35:25px;
        --sp40:30px;
        --sp45:30px;
        --sp50:40px;
        --sp55:40px;
        --sp60:50px;
        --sp70:60px;
        --sp80:40px;
        --sp90:40px;
        --sp100:40px;
        --sp120:50px;
        --sp125:50px;
        --sp130:50px;
        --sp135:60px;
        --sp140:60px;
        --sp150:60px;
        --sp155:60px;
        --sp180:70px;
        --sp195:80px;
        --sp200:80px;
        --sp235:100px;
    }
    .utRr16, .utMm16, .utBk16, .utLt18, .utBd18{font-size: 14px;}

    .utBd16{font-size: 14px; font-weight: 600;}

    .utSb16, .utMm18, [class*='20']{font-size: 16px;}

    [class*='22'], [class*='26'], .pwbL18{font-size: 18px;}

    .pwbL30{font-size: 20px;}

    .utLt30, .pwbL36{font-size: 22px;}

    [class*='42']{font-size: 26px;}

    .utLt36{font-size: 28px;}

    [class*='52']{font-size: 36px;}

    .utBd72, .pwbL72, .pwbM72{font-size: 38px;}

    .mBtn{margin-right: 5%;}

    [class*='leafBtn']:not(.leafBtnB){line-height: 55px;}
    .leafBtnB{line-height: 50px;}
    
    .leafBtnA, .leafBtnB,
    .borLearnBtnA, .borLearnBtnB{max-width: 280px;}

    [id$='Popups']{width: 90%; max-width: 500px;}
    [id$='Popups'] > div{padding: var(--sp200) 11%;}
    [id$='Popups'] input[type='button']:first-of-type,
    [id$='Popup'] input[type='button']:first-of-type{right: 10px; top: 15px;}

    #completePopup{width: 95%;}
    #completePopup > img{display: none;}
    #completePopup > div{width: 100%; padding: 90px 5% 30px;}
    #completePopup > div > a{margin: 0 auto;}
}
@media screen and (min-width: 768px){
    .utRr16, .utSb16{font-size: 16px;}

    .mBtn{margin-right: 3%;}
    
    [class*='leafBtn']{line-height: 55px;}

    .leafBtnC{max-width: 560px;}
    .leafBtnD{max-width: 330px;}

    .leafBtnA, .leafBtnB,
    .borLearnBtnA, .borLearnBtnB{max-width: 280px;}
    
    [id$='Popups']{width: 60%; max-width: 600px;}
    [id$='Popups'] > div{padding: var(--sp100) 11.5%;}
    [id$='Popups'] input[type='button']:first-of-type,
    [id$='Popup'] input[type='button']:first-of-type{right: 25px; top: 25px;}

    #completePopup{display: none; max-width: 750px;}
    #completePopup > div{width: 48.5%; float: right;}
    #completePopup > img{display: block; width: 51.5%; float: left;}
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    :root{
        --sp80: 50px;
        --sp90: 50px;
        --sp100: 50px;
        --sp120: 60px;
        --sp125: 60px;
        --sp130: 60px;
        --sp135: 60px;
        --sp140: 70px;
        --sp150: 80px;
        --sp155: 80px;
        --sp180: 90px;
        --sp195: 100px;
        --sp200: 100px;
        --sp235: 120px;
    }
    .utMm16, .utBk16{font-size: 14px;}

    .utBd16{font-size: 14px; font-weight: 600;}

    .utLt18, .utMm18, .utBd18, .pwbL18{font-size: 16px;}

    [class*='20']{font-size: 18px;}

    [class*='22'], [class*='26']{font-size: 20px;}

    .pwbL30{font-size: 22px;}

    .utLt30{font-size: 26px;}

    [class*='36']{font-size: 30px;}

    [class*='42']{font-size: 36px;}

    [class*='52']{font-size: 40px;}

    .utBd72, .pwbL72{font-size: 42px;}

    .pwbM72{font-size: 60px;}

    .leafBtnA{width: 60%;}

    #completePopup{width: 80%;}
    #completePopup > div{padding: 15% 5% 30px;}
    #completePopup span{margin-bottom: 40px;}
}
@media screen and (min-width: 1024px){
    .addToWish:hover{background-image: url('../images/ico_heart_full_d.png');}
}
@media screen and (min-width: 1280px){

    [class*='16']:not(.utRr16, .utSb16){font-size: 16px;}

    [class*='18']{font-size: 18px;}

    [class*='20']{font-size: 20px;}

    [class*='22']{font-size: 22px;}

    [class*='26']{font-size: 26px;}

    [class*='30']{font-size: 30px;}

    [class*='36']{font-size: 36px;}

    [class*='42']{font-size: 42px;}

    [class*='52']{font-size: 52px;}

    [class*='72']{font-size: 72px;}

    #completePopup{width: 50%;}
    #completePopup > div{padding: 15% 6% var(--sp45);}
}